/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
        retro-tap;
};

/ {
        rp: require_prior_idle {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "tap-preferred";
                tapping-term-ms = <200>;
                //quick-tap-ms = <200>;
                //require-prior-idle-ms = <125>;
                bindings = <&kp>, <&kp>;
        };

        keymap {
                compatible = "zmk,keymap";

                default {
//1 ╭─────┬─────┬─────┬─────┬─────╮        ╭─────┬─────┬─────┬─────┬─────╮
//1 │  Q  │  W  │  E  │  R  │  T  │        │  Y  │  U  │  I  │  O  │  P  │
//1 ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
//1 │  A ⇧│  S ⌃│  D ⌥│  F ⌘│  G  │   L0   │  H  │  J ⌘│  K ⌥│  L ⌃│  ;:⇧│
//1 ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
//1 │  Z ⇧│  X  │  C ²│  V ¹│  B  │        │  N  │  M ¹│  ,<²│  .> │  /?⇧│
//1 ╰─────┴─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┴─────╯
//1             │ (1) │  ⎋ ²│  ⏎ ¹│        │  ␣ ¹│  ↹ ²│  ⌫  │
//1             ╰─────┴─────┴─────╯        ╰─────┴─────┴─────╯
                        bindings = <
&none &kp Q            &kp W            &kp E            &kp R            &kp T                   &kp Y            &kp U            &kp I            &kp O            &kp P           &none
&none &rp LSHFT A      &rp LCTRL S      &rp LALT D       &rp LMETA F      &kp G                   &kp H            &rp RMETA J      &rp RALT K       &rp RCTRL L      &rp RSHFT SEMI  &none
&none &rp LSHFT Z      &kp X            &lt 2 C          &lt 1 V          &kp B                   &kp N            &lt 1 M          &lt 2 COMMA      &kp DOT          &rp RSHFT FSLH  &none
                                        &to 1            &lt 2 ESC        &lt 1 RET               &lt 1 SPACE      &lt 2 TAB        &kp BSPC
                        >;
                };
                sym {
//1 ╭─────┬─────┬─────┬─────┬─────╮        ╭─────┬─────┬─────┬─────┬─────╮
//1 │  !  │  _  │  -  │  +  │  =  │        │  [  │  (  │  ↑  │  )  │  ]  │
//1 ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
//1 │  @ ⇧│  ` ⌃│  * ⌥│  ~ ⌘│  #  │   L1   │  {  │  ←  │  ↓  │  →  │  } ⇧│
//1 ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
//1 │  &  │  %  │  $  │  ^  │  ⌂  │        │  ␃  │  "  │  '  │  |  │  \  │
//1 ╰─────┴─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┴─────╯
//1             │ (2) │  ⎋  │  ⏎  │        │  ␣  │  ↹  │  ⌦  │
//1             ╰─────┴─────┴─────╯        ╰─────┴─────┴─────╯
                        bindings = <
&none &kp EXCL         &kp UNDER        &kp MINUS        &kp PLUS         &kp EQUAL               &kp LBKT         &kp LPAR         &kp UP           &kp RPAR         &kp RBKT        &none
&none &mt LSHFT AT     &mt LCTRL GRAVE  &mt LALT STAR    &mt LMETA TILDE  &kp HASH                &kp LBRC         &kp LEFT         &kp DOWN         &kp RIGHT        &mt RSHFT RBRC  &none
&none &kp AMPS         &kp PRCNT        &kp DOLLAR       &kp CARET        &kp HOME                &kp END          &kp DQT          &kp APOS         &kp PIPE         &kp BSLH        &none
                                        &to 2            &kp ESC          &kp RET                 &kp SPACE        &kp TAB          &kp DEL
                        >;
                };
                num {
//1 ╭─────┬─────┬─────┬─────┬─────╮        ╭─────┬─────┬─────┬─────┬─────╮
//1 │ F9  │ F10 │ F11 │ F12 │    │        │  ▲  │  7  │  8  │  9  │  ▼  │
//1 ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
//1 │ F5 ⇧│ F6 ⌃│ F7 ⌥│ F8 ⌘│    │   L2   │  +  │  4  │  5  │  6  │  -  │
//1 ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
//1 │ F1  │ F2  │ F3  │ F4  │  ⎙  │        │  *  │  1  │  2  │  3  │  /  │
//1 ╰─────┴─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┴─────╯
//1             │ (0) │  ⎋  │  ⏎  │        │  .  │  0  │  ⌫  │
//1             ╰─────┴─────┴─────╯        ╰─────┴─────┴─────╯
                        bindings = <
&none &kp F9            &kp F10         &kp F11          &kp F12          &bt BT_CLR              &kp PG_UP        &kp N7           &kp N8           &kp N9           &kp PG_DN       &none
&none &mt LSHFT F5      &mt LCTRL F6    &mt LALT F7      &mt LMETA F8     &bt BT_NXT              &kp KP_PLUS      &kp N4           &kp N5           &kp N6           &kp KP_MINUS    &none
&none &kp F1            &kp F2          &kp F3           &kp F4           &kp PSCRN               &kp KP_MULTIPLY  &kp N1           &kp N2           &kp N3           &kp KP_DIVIDE   &none
                                        &to 0            &kp ESC          &kp RET                 &kp KP_DOT       &kp N0           &kp BSPC
                        >;
                };
        };
};

//2  H       H       H       H       H                      H       H       H       H       H
//2 ╭───────┬───────┬───────┬───────┬───────╮        ╭───────┬───────┬───────┬───────┬───────╮
//2 │      !│      _│     -_│      +│     =+│   L1   │[{     │(      │↑      │)      │]}     │
//2 │   qQ  │   wW  │   eE  │   rR  │   tT  │   L0   │   yY  │   uU  │   iI  │   oO  │   pP  │
//2 │     F9│    F10│    F11│    F12│      │   L2   │▲      │7&     │8*     │9(     │▼      │
//2 ├───────┼───────┼───────┼───────┼───────┤        ├───────┼───────┼───────┼───────┼───────┤
//2 │⇧     @│⌃    `~│⌥     *│⌘     ~│      #│   L1   │{      │←      │↓      │→      │}     ⇧│
//2 │⇧  aA  │⌃  sS  │⌥  dD  │⌘  fF  │   gG  │   L0   │   hH  │   jJ ⌘│   kK ⌥│   lL ⌃│   ;: ⇧│
//2 │⇧    F5│⌃    F6│⌥    F7│⌘    F8│      │   L2   │+      │4$     │5%     │6^     │-      │
//2 ├───────┼───────┼───────┼───────┼───────┤        ├───────┼───────┼───────┼───────┼───────┤
//2 │      &│      %│      $│      ^│      ⌂│   L1   │␃      │"      │'"     │|      │\|     │
//2 │⇧  zZ  │   xX  │²  cC  │¹  vV  │   bB  │   L0   │   nN  │   mM ¹│   ,< ²│   .>  │   /? ⇧│
//2 │     F1│     F2│     F3│     F4│     ⎙ │   L2   │*      │1!     │2@     │3#     │/      │
//2 ╰───────┴───────┼───────┼───────┼───────┤        ├───────┼───────┼───────┼───────┴───────╯
//2                 │    (2)│      ⎋│      ⏎│   L1   │␣      │↹      │⌦      │
//2                 │  (1)  │²  ⎋   │¹  ⏎   │   L0   │   ␣  ¹│   ↹  ²│   ⌫   │
//2                 │    (0)│      ⎋│      ⏎│   L2   │.      │0)     │⌫      │
//2                 ╰───────┴───────┴───────╯        ╰───────┴───────┴───────╯

//3  H       H       H       H       H                      H       H       H       H       H
//3 ╭───────┬───────┬───────┬───────┬───────╮        ╭───────┬───────┬───────┬───────┬───────╮
//3 │      !│      _│      -│      +│      =│   L1   │[      │(      │↑      │)      │]      │
//3 │   Q   │   W   │   E   │   R   │   T   │   L0   │   Y   │   U   │   I   │   O   │   P   │
//3 │     F9│    F10│    F11│    F12│      │   L2   │▲      │7      │8      │9      │▼      │
//3 ├───────┼───────┼───────┼───────┼───────┤        ├───────┼───────┼───────┼───────┼───────┤
//3 │⇧     @│⌃     `│⌥     *│⌘     ~│      #│   L1   │{      │←      │↓      │→      │}     ⇧│
//3 │⇧  A   │⌃  S   │⌥  D   │⌘  F   │   G   │   L0   │   H   │   J  ⌘│   K  ⌥│   L  ⌃│   ;: ⇧│
//3 │⇧    F5│⌃    F6│⌥    F7│⌘    F8│      │   L2   │+      │4      │5      │6      │-      │
//3 ├───────┼───────┼───────┼───────┼───────┤        ├───────┼───────┼───────┼───────┼───────┤
//3 │      &│      %│      $│      ^│      ⌂│   L1   │␃      │"      │'      │|      │\      │
//3 │⇧  Z   │   X   │²  C   │¹  V   │   B   │   L0   │   N   │   M  ¹│   ,< ²│   .>  │   /? ⇧│
//3 │     F1│     F2│     F3│     F4│     ⎙ │   L2   │*      │1      │2      │3      │/      │
//3 ╰───────┴───────┼───────┼───────┼───────┤        ├───────┼───────┼───────┼───────┴───────╯
//3                 │    (2)│      ⎋│      ⏎│   L1   │␣      │↹      │⌦      │
//3                 │  (1)  │²  ⎋   │¹  ⏎   │   L0   │   ␣  ¹│   ↹  ²│   ⌫   │
//3                 │    (0)│      ⎋│      ⏎│   L2   │.      │0      │⌫      │
//3                 ╰───────┴───────┴───────╯        ╰───────┴───────┴───────╯

//4 ╭───────┬───┬───────┬───┬───────┬───┬───────┬───┬───────┬───╮   ╭──╮   ╭───┬───────┬───┬───────┬───┬───────┬───┬───────┬───┬───────╮
//4 │       │ ! │       │ _ │       │ - │       │ + │       │ = │   │L1│   │ [ │       │ ( │       │ ↑ │       │ ) │       │ ] │       │
//4 │       ╰───┤       ╰───┤       ╰───┤       ╰───┤       ╰───┤   ├──┤   ├───╯       ├───╯       ├───╯       ├───╯       ├───╯       │
//4 │     Q     │     W     │     E     │     R     │     T     │   │L0│   │     Y     │     U     │     I     │     O     │     P     │
//4 │       ╭───┤       ╭───┤       ╭───┤       ╭───┤       ╭───┤   ├──┤   ├───╮       ├───╮       ├───╮       ├───╮       ├───╮       │
//4 │       │𝔽⁹ │       │𝔽¹⁰│       │𝔽¹¹│       │𝔽¹²│       │  │   │L2│   │ ▲ │       │ 7 │       │ 8 │       │ 9 │       │ ▼ │       │
//4 ├───┬───┼───┼───┬───┼───┼───┬───┼───┼───┬───┼───┼───────┼───┤   ├──┤   ├───┼───────┼───┼───────┼───┼───────┼───┼───────┼───┼───┬───┤
//4 │ ⇧ │   │ @ │ ⌃ │   │ ` │ ⌥ │   │ * │ ⌘ │   │ ~ │       │ # │   │L1│   │ { │       │ ← │       │ ↓ │       │ → │       │ } │   │ ⇧ │
//4 ├───┤   ╰───┼───┤   ╰───┼───┤   ╰───┼───┤   ╰───┤       ╰───┤   ├──┤   ├───╯       ├───╯   ╭───┼───╯   ╭───┼───╯   ╭───┼───╯   ├───┤
//4 │ ⇧ │ A     │ ⌃ │ S     │ ⌥ │ D     │ ⌘ │ F     │     G     │   │L0│   │     H     │     J │ ⌘ │     K │ ⌥ │     L │ ⌃ │     ;:│ ⇧ │
//4 ├───┤   ╭───┼───┤   ╭───┼───┤   ╭───┼───┤   ╭───┤       ╭───┤   ├──┤   ├───╮       ├───╮   ╰───┼───╮   ╰───┼───╮   ╰───┼───╮   ╰───┤
//4 │ ⇧ │   │𝔽⁵ │ ⌃ │   │𝔽⁶ │ ⌥ │   │𝔽⁷ │ ⌘ │   │𝔽⁸ │       │  │   │L2│   │ + │       │ 4 │       │ 5 │       │ 6 │       │ - │       │
//4 ├───┴───┼───┼───┴───┼───┼───┴───┼───┼───┴───┼───┼───────┼───┤   ├──┤   ├───┼───────┼───┼───────┼───┼───────┼───┼───────┼───┼───────┤
//4 │       │ & │       │ % │       │ $ │       │ ^ │       │ ⌂ │   │L1│   │ ␃ │       │ " │       │ ' │       │ | │       │ \ │       │
//4 ├───╮   ╰───┤       ╰───┼───╮   ╰───┼───╮   ╰───┤       ╰───┤   ├──┤   ├───╯       ├───╯   ╭───┼───╯   ╭───┼───╯       ├───╯   ╭───┤
//4 │ ⇧ │ Z     │     X     │ ² │ C     │ ¹ │ V     │     B     │   │L0│   │     N     │     M │ ¹ │     ,<│ ² │     .>    │     /?│ ⇧ │
//4 ├───╯   ╭───┤       ╭───┼───╯   ╭───┼───╯   ╭───┤       ╭───┤   ├──┤   ├───╮       ├───╮   ╰───┼───╮   ╰───┼───╮       ├───╮   ╰───┤
//4 │       │𝔽¹ │       │𝔽² │       │𝔽³ │       │𝔽⁴ │       │ ⎙ │   │L2│   │ * │       │ 1 │       │ 2 │       │ 3 │       │ / │       │
//4 ╰───────┴───┴───────┴───┼───────┼───┼───────┼───┼───────┼───┤   ├──┤   ├───┼───────┼───┼───────┼───┼───────┼───┴───────┴───┴───────╯
//4                         │       │(2)│       │ ⎋ │       │ ⏎ │   │L1│   │ ␣ │       │ ↹ │       │ ⌦ │       │
//4                         │       ╰───┼───╮   ╰───┼───╮   ╰───┤   ├──┤   ├───╯   ╭───┼───╯   ╭───┼───╯       │
//4                         │    (1)    │ ² │ ⎋     │ ¹ │ ⏎     │   │L0│   │     ␣ │ ¹ │     ↹ │ ² │     ⌫     │
//4                         │       ╭───┼───╯   ╭───┼───╯   ╭───┤   ├──┤   ├───╮   ╰───┼───╮   ╰───┼───╮       │
//4                         │       │(0)│       │ ⎋ │       │ ⏎ │   │L2│   │ . │       │ 0 │       │ ⌫ │       │
//4                         ╰───────┴───┴───────┴───┴───────┴───╯   ╰──╯   ╰───┴───────┴───┴───────┴───┴───────╯
