/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
        retro-tap;
};

/ {
        rp: require_prior_idle {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "tap-preferred";
                tapping-term-ms = <200>;
                //quick-tap-ms = <200>;
                //require-prior-idle-ms = <125>;
                bindings = <&kp>, <&kp>;
        };

        keymap {
                compatible = "zmk,keymap";

                default {
// ╭─────┬─────┬─────┬─────┬─────╮        ╭─────┬─────┬─────┬─────┬─────╮
// │  Q  │  W  │  E  │  R  │  T  │        │  Y  │  U  │  I  │  O  │  P  │
// ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
// │  A ⇧│  S ⌃│  D ⌥│  F ⌘│  G  │   L0   │  H  │  J ⌘│  K ⌥│  L ⌃│  ;:⇧│
// ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
// │  Z  │  X  │  C  │  V  │  B  │        │  N  │  M  │  ,< │  .> │  /? │
// ╰─────┴─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┴─────╯
//             │  ⌫  │  ⎋ ²│  ⏎ ¹│        │  ␣ ¹│  ↹ ²│  ⌫  │
//             ╰─────┴─────┴─────╯        ╰─────┴─────┴─────╯
                        bindings = <
&none &kp Q            &kp W            &kp E            &kp R            &kp T                   &kp Y            &kp U            &kp I            &kp O            &kp P           &none
&none &rp LSHFT A      &rp LCTRL S      &rp LALT D       &rp LMETA F      &kp G                   &kp H            &rp RMETA J      &rp RALT K       &rp RCTRL L      &rp RSHFT SEMI  &none
&none &kp Z            &kp X            &kp C            &kp V            &kp B                   &kp N            &kp M            &kp COMMA        &kp DOT          &kp FSLH        &none
                                        &kp BSPC         &lt 2 ESC        &lt 1 RET               &lt 1 SPACE      &lt 2 TAB        &kp BSPC
                        >;
                };
                sym {
// ╭─────┬─────┬─────┬─────┬─────╮        ╭─────┬─────┬─────┬─────┬─────╮
// │  !  │  _  │  -_ │  +  │  =+ │        │  [{ │  (  │  ↑  │  )  │  ]} │
// ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
// │  @ ⇧│  `~⌃│  * ⌥│  ~ ⌘│  #  │   L1   │  {  │  ←  │  ↓  │  →  │  } ⇧│
// ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
// │  &  │  %  │  $  │  ^  │  🌐 │        │    │  "  │  '" │  |  │  \| │
// ╰─────┴─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┴─────╯
//             │  ⌦  │  ⎋  │  ⏎  │        │  ␣  │  ↹  │  ⌦  │
//             ╰─────┴─────┴─────╯        ╰─────┴─────┴─────╯
                        bindings = <
&none &kp EXCL         &kp UNDER        &kp MINUS        &kp PLUS         &kp EQUAL               &kp LBKT         &kp LPAR         &kp UP           &kp RPAR         &kp RBKT        &none
&none &mt LSHFT AT     &mt LCTRL GRAVE  &mt LALT STAR    &mt LMETA TILDE  &kp HASH                &kp LBRC         &kp LEFT         &kp DOWN         &kp RIGHT        &mt RSHFT RBRC  &none
&none &kp AMPS         &kp PRCNT        &kp DOLLAR       &kp CARET        &kp LC(LG(SEMI))        &kp LC(LG(FSLH)) &kp DQT          &kp APOS         &kp PIPE         &kp BSLH        &none
                                        &kp DEL          &kp ESC          &kp RET                 &kp SPACE        &kp TAB          &kp DEL
                        >;
                };
                num {
// ╭─────┬─────┬─────┬─────┬─────╮        ╭─────┬─────┬─────┬─────┬─────╮
// │ F9  │ F10 │ F11 │ F12 │    │        │  ⁴ │  7& │  8* │  9( │  =+ │
// ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
// │ F5 ⇧│ F6 ⌃│ F7 ⌥│ F8 ⌘│  ² │   L2   │  ⁵ │  4$ │  5% │  6^ │  '" │
// ├─────┼─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┼─────┤
// │ F1  │ F2  │ F3  │ F4  │  ³ │        │  /? │  1! │  2@ │  3# │  -_ │
// ╰─────┴─────┼─────┼─────┼─────┤        ├─────┼─────┼─────┼─────┴─────╯
//             │  ⌦  │  ⎋  │  ⏎  │        │  ␣  │  0) │  ⌦  │
//             ╰─────┴─────┴─────╯        ╰─────┴─────┴─────╯
                        bindings = <
&none &kp F9            &kp F10         &kp F11          &kp F12          &bt BT_NXT              &bt BT_SEL 3     &kp N7           &kp N8           &kp N9           &kp EQUAL       &none
&none &mt LSHFT F5      &mt LCTRL F6    &mt LALT F7      &mt LMETA F8     &bt BT_SEL 1            &bt BT_SEL 4     &kp N4           &kp N5           &kp N6           &kp APOS        &none
&none &kp F1            &kp F2          &kp F3           &kp F4           &bt BT_SEL 2            &kp FSLH         &kp N1           &kp N2           &kp N3           &kp MINUS       &none
                                        &kp DEL          &kp ESC          &kp RET                 &kp SPACE        &kp N0           &kp DEL
                        >;
                };
        };
};
